/*------------------------------------*\
  Custom Styles
\*------------------------------------*/

.caption {
  text-align: center; 
  font-size:12px;
}

.highlight {
  background-color: #B70038;
  color: white;
  padding: 5px;
}

.highlight-box {
  background-color: #B70038;
  color: white;
  padding: 15px;
  margin: 20px 0px;
}

